{{!< default}}

{{#page}}
  <section class="flex flex-col gap-8 lg:flex-row lg:gap-0 min-h-dvh" data-template-subscribe>
    {{!-- Content --}}
    <div class="lg:flex-4 flex flex-col gap-6 py-6 lg:py-12 lg:px-5 justify-center">
      <article class="{{post_class}} ghost-content prose md:prose-lg prose-theme mb-0!" {{#unless access}} data-preview{{/unless}}{{#match @page.show_title_and_feature_image}} data-no-overflow{{else}}{{/match}}>
        {{content}}
      </article>

      <div class="w-full mx-auto max-w-content mt-2 px-[max(2vmin,20px)] md:px-0">
        {{> subscribe-form 
          fieldset_class="w-full max-w-md bg-bgr border border-brd flex flex-wrap rounded-btn bg-bgr p-[5px] focus-within:border-brand focus-within:ring-4 focus-within:ring-brand/20"
          input_class="bg-bgr text-typ flex-2 py-2 rounded-btn border-none focus:ring-0"
          button_class="flex-1 px-4 py-2 bg-brand text-brand-contrast font-medium rounded-btn md:px-6 hover:ring-[3px] hover:ring-brand/20"
          show_signup_terms=true
        }}
      </div>
    </div>

    {{!-- Hero section --}}
    {{#match @page.show_title_and_feature_image}} 
      {{#if feature_image}}
        <figure class="lg:flex-3 lg:sticky lg:top-0 w-full h-full lg:h-dvh" role="none">
          {{!-- Publication cover --}}
          {{> image
            picture_class=""
            image_type="post"
            image_class="w-full h-full object-cover object-center"
            image_url=feature_image
            size_s=true
            size_m=true
            size_l=true
            size_xl=true
            size_xxl=true
            sizes="(max-width: 1023px) 90vw, 30vw"
            loading="eager"
          }}
        </figure>
      {{/if}}
    {{/match}}
  </section>
{{/page}}

{{#contentFor "styles"}}
  <style>[data-header], [data-footer] { display: none; }</style>
{{/contentFor}}