{{!< default}}

{{!-- Hero --}}
{{#page}}
  {{> page-hero}}
{{/page}}

{{!-- tags --}}
<section class="px-5 sm:px-6 mb-24" data-tags>
  <div class="max-w-container mx-auto">    
    <ul class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      {{#if page.tags}}
        {{#foreach page.tags}}
          {{#get "tags" filter="slug:{{slug}}" include="count.posts" limit="1"}}
            {{#foreach tags}}
              {{> tag-card}}
            {{/foreach}}
          {{/get}}
        {{/foreach}}
      {{else}}
        {{#get "tags" include="count.posts" limit="100" order="count.posts desc"}}
          {{#foreach tags}}
            {{> tag-card}}
          {{/foreach}}
        {{/get}}
      {{/if}}
    </ul>
  </div>
</section>

